.Wrapper {
  border-radius: 5px;
  padding: 10px 30px;
  background: black;
  color: white;
  text-align: center;
  justify-content: center;
  line-height: none;
  font-size: 50px;
  &:hover {
    background: #272727;
    cursor: pointer;
  }
  &.Active {
    background: orange;
    color: black;
  }
}