.Wrapper {
  width: 450px !important;
  min-height: 100vh;
  // background: #e58484;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  .Calculator {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    .InputGroup {
      width: 100%;
    }
    .BtnGroup {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // background: burlywood;
      margin-top: 20px;
    }
    .Result {
      margin: 16px;
      width: 100%;
      border-top: 5px solid #b4b4b4;
      margin-top: 32px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}
